<h2>Selling software is nearly impossible</h2>

<p>
  As in <a href="arbitrage-software-intro.html">Pricing Software in Financial Arbitrage Context - Intro</a>,
  you cannot sell your software other than the below M&A case where you ser selling your entire company.

  This makes it very hard to construct an arbitrage argument.
</p>

<h2>Selling the company - the only pure form of sell</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-m_and_a.png">
</figure>
<p>
  This is the only pure for of selling, although you are not selling the software only but the entire business, company.
</p>

<h2>Retire the software</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-selling-retire.png">
  <figcaption>
    Image by <a href="http://www.freedigitalphotos.net/images/Construction_g265-Pull_Down_Constuction_p56850.html">Surachai</a> at FreeDigitalPhotos.net
  </figcaption>
</figure>
<p>
  For some cases, you probably want to just stop using and maintaining your software.
  When you are retiring the software, you can assume you are <strong>selling it at zero</strong> price, and getting rid of maintenance and investment.
  Of course revenues generated from the software will also be gone.
</p>

<p>
  Chances are like you stop doing unprofitable business, and then the underlying software is no longer needed.

  You might make this retirement decision when maintenance cost is higher than the revenue it generates.
</p>


<h2>Replace the software you are using, with a new one</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-selling-replace.png">
  <figcaption>
    Images by <a href="http://www.freedigitalphotos.net/images/abandoned-old-house-photo-p290063">Witthaya Phonsawat</a>
    and <a href="http://www.freedigitalphotos.net/images/exterior-shot-of-a-glass-building-photo-p258343">stockimages</a>
    at FreeDigitalPhotos.net
  </figcaption>
</figure>

<p>
  A more common case than pure retirement is replacing the current software with a newly built one.
  Possibly you are only replacing part of your entire software system, like replacing the middleware layer for better scalability etc.
</p>

<p>
  This is actually a difficult investment decision, than most people think of.
  The new software does not generate any revenue during the development phase, until it actually replaces the old one.
  Also once the new software runs in production, it has much higher possibility of unknown bugs and issues.
</p>

<h2>Special case - set up a competitor company</h2>
<p>
  This is a special case which you are not actually selling software even at the zero price.
</p>

<p>
  When you notice a certain company, has a very high maintenance cost in their software,
  you can set up a new company running a competing service with them.

  Supposedly you have much lower maintenance cost in your own software, so that you can
  provide more attractive prices offering the similar service.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-selling-setup-competitor.png">
  <figcaption>
    Image by <a href="http://www.freedigitalphotos.net/images/cloud-service-photo-p389883">zirconicusso</a> at FreeDigitalPhotos.net
  </figcaption>
</figure>

<p>
  From the selling and buying discussion perspective, it is 1) buying (investing in) your own software which is similar to the rival company,
  2) and then take take the revenue out of your rival.
</p>

<p>
  So, you are not actually selling anything, but taking advantage of mis-priced (too high maintenance cost) of the software your rival had.
</p>