<h2>Financial Arbitrage, when the same product is in different prices</h2>
<p>
  What is arbitrage in finance? It is a trading method, to make a profit from the difference in prices, on the same product.
  The following video by Khan Academy gives good basics of arbitrage.
</p>

<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AuCH7fHZsZ4?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>
  Usually it is very rare that there is a pure arbitrage opportunity. (i.e.) same exact products are traded in two different prices.
  Most of the time, there is no such case, or there is too little price difference
  so that your arbitrage profit would be diminished by tax and trading cost.
</p>

<p>
  If you have an arbitrage opportunity on a certain product, as in the video, the price difference will converge to a point where there is no more arbitrage ooportunity.
  In other  words, you can say:
  <ul>
    <li>if you see an arbitrage opportunity, the product is <strong>wrongly priced</strong></li>
    <li>the <strong>correct</strong> price of the product is so that there is <strong>no arbitrage</strong> opportunity</li>
  </ul>
</p>

<h2>For software, you cannot easily sell or buy it</h2>
<p>
  To expand the same arbitrage-based pricing discussion to software, there is actually a big problem - you cannot easily sell or buy software.
  As in a previous article, <a href="pricing-and-accounting-software-asset.html">"Pricing and Accounting Software - Asset"</a>,
  you can buy software easily, only when the software is packaged.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-youcant-sell.png">
  <figcaption><a href="http://www.freedigitalphotos.net/images/businessman-pushing-tactile-button-photo-p310733">Image by stockimages at FreeDigitalPhotos.net</a></figcaption>
</figure>

<p>
  For example, when an external investor comes in, and he is interested in your precious e-Commerse software, "e-Sale".
  Does he just buy the software only? No he doesn't. Just buying software doesn't do anything - the investor actually
  wants to acquire the entire e-Commerce business, including people supporting the software and the business.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-you-buy-everything.png">
  <figcaption>
    Images by <a href="http://www.freedigitalphotos.net/images/businessman-pushing-tactile-button-photo-p310733">stockimages</a>
    and <a href="http://www.freedigitalphotos.net/images/Teamwork_g404-Standing_People_p25253.html">renjith krishnan</a>
    at FreeDigitalPhotos.net
  </figcaption>
</figure>

<p>
You know that is what happens in actual tech businesses. It's M&A where known cases are like:
<ul>
  <li>Google bought youtube</li>
  <li>Microsoft bought Dropbox</li>
  <li>...etc, </li>
</ul>
They just didn't buy software only, but they bought the entire businesses and the people, to keep running the same service after the mergers.
</p>

<p>
  So unlike financial markets, even if a software product is wrongly priced, it is not easy to take advantage of the arbitrage opportunity.
  This results in a prevalent situation in the software industry, so that most software product is wrongly priced,
  since arbitrage dynamics to correct prices does not work.
</p>

<h2>Pricing Software, by assuming it as a complex Financial Derivative contract</h2>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-complex-derivative2.png">
  <figcaption>
    Images by <a href="http://www.freedigitalphotos.net/images/Money_g61-Stacked_US_Dollar_p66613.html">sheelamohan</a>
    and <a href="http://www.freedigitalphotos.net/images/interconnected-network-structure-shows-networking-photo-p206671">Stuart Miles</a>
    at FreeDigitalPhotos.net
  </figcaption>
</figure>

<p>
  As discussed, we cannot just buy or sell software easily. Thus, you don't know the exact price of software.
</p>

<p>
  So, pricing software is just an exercise bound to failure? Not actually, to price software, you can assume it as a <strong>complex derivative contract</strong>,
  and de-compose it into cash flows it consists of.

  <ul>
    <li>Incoming cash flows = Revenue</li>
    <li>Outgoing cash flows = Cost</li>
  </ul>
</p>

<p>
  Put simply,
</p>

<p style="font-size:14px; text-align: center">
  <strong>Software Value = Revenue - Cost = Net cash flow</strong>
</p>

<p>
  However, it is much more difficult than it might look like - the reasons why I said it is a "complex" derivative are because:
  <ul>
    <li>Revenues are unknown in advance,</li>
    <li>Maintenance cost is also unknown in advance</li>
  </ul>
  Also, even if revenues and maintenance cost are "known" when they became past-dated, it is hard to tell what percentage of them is from software's contribution.
  You can see the below articles about more discussion.
  <ul>
    <li><a href="pricing-and-accounting-software-income.html">Pricing and Accounting Software - Income</a></li>
    <li><a href="pricing-and-accounting-software-expenses.html">Pricing and Accounting Software - Expenses</a></li>
  </ul>
</p>

<p>
  In future articles, we model software as a complex derivative contract with unknown cash flows,
  and we will see how that enables the arbitrage argument to give a price of software.
</p>