<h1>Financial Engineering of software projects</h1>

<p>There is a very important question, everyone asks about every software project.</p>

<h2>Do you want to invest in this software project?</h2>

<p>Surprisingly, the software industry has never provided right methodologies to answer to this question.</p>

<div style="text-align:center">
  <figure>
    <img src="/images/posts/ID-10056727.jpg" style="width: 100%; max-width: 400px;">
    <figcaption><a href="http://www.freedigitalphotos.net/images/Business_people_g201-Employee_Reading_Documents_p56727.html">Image by Stuart Miles at FreeDigitalPhotos.net</a></figcaption>
  </figure>
</div>


<p>
  In a series of blog articles, I am going to build methodologies to answer to this question. The keys are <strong>uncertainty</strong> and <strong>quantitative analysis</strong>.
</p>

<p>
  Financial engineering frameworks have a long history they dealt with uncertainty and quantitative analysis, so it will be interesting and effective to leverage the techniques built in the field.
</p>

<h2>The software industry has focused on <strong>"how"</strong> to build software better</h2>

<p>Instead of answering to the important question, <strong>"Do you want to invest in this project?"</strong>, the industry tried all the effort for better development methodologies.

<p>
  <ul>
    <li>Waterfall method</li>
    <li>Agile methodologies</li>
    <li>etc...</li>
  </ul>

  there has been so many different software development approaches.
  Some went well with wild success, but others tried the same approach and ended in painful failures
</p>

<p>
  You can see some of these methodologies <a href="https://en.wikipedia.org/wiki/Software_development_process">"Software development process" in Wikipedia</a> ).
</p>

<p>
  Lessons, best practices were learnt and shared from people who tried different approaches.
</p>

<h2>However, we still don't know <strong>"whether"</strong> to invest in a software project</h2>

<p>We still often ask an experienced developer for an estimate and it usually turns out inaccurate afterwards.</p>

<p>
  And there is the other equally important question we usually cannot answer.
</p>

<h2>Do you want to stop investing in this project?</h2>

<div style="text-align:center">
  <figure>
    <img src="/images/posts/uncertainty.png" style="width: 100%; max-width: 498px;">
    <figcaption><a href="http://www.freedigitalphotos.net/images/Business_people_g201-Employee_Reading_Documents_p56727.html">Image by Stuart Miles at FreeDigitalPhotos.net</a></figcaption>
  </figure>
</div>

<h2>The problem - you don't know how much effort it requires, and how much benefit you get</h2>

<ul>
  <li><strong>Uncertainty</strong>: No one knows when a project finishes, and how much time you can save after the project is delivered.</li>
  <li><strong>Quantitative Analysis</strong>: There has been numerous researches and experiments for "qualitative" analysis, and a lot of best practices have been discovered.</li>
</ul>

<p>.</p>
