
<h2>Arbitrage is possible when there is Inefficiency in the market</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/ineficient-and-arbitrage.png">
</figure>
<p>Arbitrage is possible when someone is doing either:</p>
<ul>
  <li><strong>Buy (Paying) too high</strong> -> paying too much cost in your software</strong></li>
  <li><strong>Selling too low</strong> -> package price too low</strong></li>
</ul>
<p>In the software industry, what you pay is buying a software product, investing in a long-term project, or spending maintenance or license (subscription) fee.</p>

<ul>
  <li><a href="software-longerm-buy-sell.html">Software Buy & Sell forms, Packaged Software and Cloud Subscription</a></li>
  <li><a href="software-buy-sell.html">Software Development and M&A, long-term investment in software</a></li>
</ul>

<h2>What is market Efficiency? Definition in Economics</h2>
<p>
  So what does efficiency/inefficiency mean? As described <a href="http://www.investopedia.com/articles/02/101502.asp">by Investopedia</a>,
  the following is the definition of "Market Efficiency" in Economics.
</p>

<blockquote>
<ol>
  <li><strong>Strong efficiency</strong></li>
    <ul>
      <li>
        This is the strongest version, which states that all information in a market, whether public or private, is accounted for in a stock price. Not even insider information could give an investor an advantage.
      </li>
    </ul>
  <li><strong>Semi-strong efficiency</strong></li>
    <ul>
      <li>
        This form of EMH (Efficient Market Hypothesis) implies that all public information is calculated into a stock's current share price. Neither fundamental nor technical analysis can be used to achieve superior gains.
      </li>
    </ul>
  <li><strong>Weak efficiency</strong></li>
    <ul>
      <li>
        This type of EMH (Efficient Market Hypothesis) claims that all past prices of a stock are reflected in today's stock price. Therefore, technical analysis cannot be used to predict and beat a market.
      </li>
    </ul>
</ol>
</blockquote>

<p>
  In other words, being <strong>efficient</strong> is making a price decision using <strong>all available information</strong>.
  On the other hand, <strong>inefficiency</strong> means making a price decision <strong>without</strong> using all available information,
  or making an <strong>irrational</strong> price decision based on all available information.
</p>

<h2>Arbitrage in software is in an imperfect form, because Re-Sell is impossible</h2>
<p>
  So, is arbitrage really possible in software? This is bit tricky, since <a href="software-resell-impossible.html">Re-Sell in software is impossible</a>.
  In Financial markets, arbitrage includes both buying and selling transactions. Thus in the software industry, pure form of arbitrage is generally not possible.
</p>

<p>
  In software, as discussed in <a href="arbitrage-and-replacement.html">Software Replacement as Risk Arbitrage</a>, you can get rid of old software product or system,
  and switch to a new one, if you are almost sure there is cost-saving effect.
</p>

<p>
  However, "almost sure" doesn't mean 100% sure, so this is a form of risk arbitrage, where uncertainty still remains.
</p>

