<h2>Accounting package software is easy as you know the price</h2>

<p>
  When you purchased a packaged software product, it is easy to tell the asset value of the software.
  That is just the purchase price (and if necessary, you apply <a hre="https://en.wikipedia.org/wiki/Depreciation">"depreciation"</a> accounting).
  <figure style="text-align:center">
    <img src="/images/posts/accounting-asset-package.png">
  </figure>
</p>

<h2>Accounting internally developed software ... how to price it?</h2>
<p>
  On the other hand, it becomes difficult when you try to evaluate the software you developed internally in your company.
  <figure style="text-align:center">
    <img src="/images/posts/accounting-asset-internal.png">
  </figure>
</p>

<p>
  One possible approach is to calculate <a href="http://www.investopedia.com/terms/d/dcf.asp">"Discounted Cash Flow"</a> which is generated from your software.
  In this case, the cashflow is the revenue generated from the software.
  <figure style="text-align:center">
    <img src="/images/posts/accounting-asset-cashflow.png">
  </figure>
</p>

<p>
  However, that is not almost always impossible. As we saw in the <a href="pricing-and-accounting-software-income">previous article</a>,
  it is not your software which generates the revenue, but your entire business generates the cashflow.
  <figure style="text-align:center">
    <img src="/images/posts/income-software.png">
  </figure>
</p>

<h2>Internally developed software is priced to zero !? As no one buys your software</h2>
<p>
  For almost all companies, no one else will buy your software. If anyone does, he/she buys your entire company or your entire business, rather than just software.

  That is different from other non-physical assets, like intellectual properties. If you have copyright of famous musician's songs, some investors might want to buy them.

  However, if you developed software for your own company, no matter how good it is, no one would buy it.

  So, no one buys your software ... then its price must be zero?
</p>