
<figure style="text-align:center">
  <img src="/images/posts/income.png">
</figure>

<h2>Income from software - illustrated by the single-app E-Commerce company</h2>
<p>
  Like my previous articles, let's continue the discussion about the same single-app E-commerce company, to make the argument simple.
  <figure style="text-align:center">
    <img src="/images/posts/income-e-sales.png">
  </figure>
</p>

<p>
  What kind of income does the "e-Sales" software generate? It is only the revenue from the "e-Sales" application.
  No other income, like license fee, is generated from "e-Sales".
</p>

<p>
  Then, it would feel natural and easy to associate all the revenue to "e-Sales". However...
  <figure style="text-align:center">
    <img src="/images/posts/income-revenue.jpg" style="max-width:100%; height:auto">
    <figcaption><a href="http://www.freedigitalphotos.net/images/business-graph-with-dollar-sign-photo-p391087">Image by dream designs at FreeDigitalPhotos.net</a></figcaption>
  </figure></p>
</p>



<h2>Revenue is generated from the whole "business", not only from the software</h2>
<p>
  It is not really right to associate 100% of the revenue to the software. Because there are other contribution factors.
</p>

<p>
  For example, if we are talking about financial assets like coupon bonds, it is very clear coupon income is purely generated from the bond.
</p>

<figure style="text-align:center">
  <img src="/images/posts/income-bond.png" style="max-width:100%; height:auto">
</figure></p>

<p>
  However, for software, you need hardware running the software application, people supporting the software, etc.
  In  other words, the entire <strong>"business"</strong> including the software generates the "e-Sales" revenue, not the software only.
</p>

<figure style="text-align:center">
  <img src="/images/posts/income-software.png" style="max-width:100%; height:auto">
</figure></p>

<p>
  Then is it just meaningless to think about "how much revenue does the software generate"?
  Well, it is still very important, especially when you think about <strong>change in revenue</strong>, created from software enhancement, replacement, retirement.
  Or even if running legacy software application without any change, you might see change in the revenue.
</p>

<p>
  We'll explore more about revenue change and software relationship in future articles.
</p>
