<h2>Expenses is mainly maintenance cost of your software</h2>
<p>
  As previously discussed in earlier posts, I split software into the four components as below.
  In this article, I'll explain the bottom left component in the below picture, how to calculate the expenses of your software.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting-expense.png">
  </figure>
</p>

<h2>Example: Single-Application E-commerce company</h2>
<p>
  In the real world, calculating software maintenance cost is pretty complicated.

  A lot of people with different roles might use the same software, including developers, DevOps people, designers, etc.
  Also there could be hardware and electricity costs associated the software.
</p>

<p>
  To avoid complexity, I use a very simple setup here to illustrate how it works.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting-expense-esale1.png">
  </figure>

  Let's assume there is an E-commerce company whose business is solely run on their single web software application, "e-Sales".
  And then let's also assume there are 3 developers supporting the e-Sales software. They maintain and enhance the e-Sales.
</p>

<p>
  If we could somehow measure the percentage of their time usage, and time usage by each developer can be like this.
  For the rest of the time other than e-Sales support, they might be e-maling, attending meetings, etc.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting-expense-esale2.png">
  </figure>
</p>

<p>
  What's the salary of each developer monthly? that could be like below, then the monthly maintenance cost of the e-sales software is:

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting-expense-esale3.png">
  </figure>
</p>

<p style="text-align: center; font-size: 14px;">
  $3,800 x 30% + $3,500 x 50% + $4,000 x 45% <br>
  = $4,690 / Month
</p>

<p>
  Good, with this simple formula, and (a lof of) assumptions, we could show the monthly maintenance cost of the e-Sales software.
</p>

<h2>Tracking time usage is possible?</h2>
<p>
  Again, in real-life situations, it doesn't go like this simple.

  <ul>
    <li>More than a single team of people might be supporting e-Sales</li>
    <li>Joe, Katie and Alice might be supporting other applications than e-Sales</li>
    <li>Most problematic issue is - <strong>time usage analysis is pretty difficult</strong></li>
  </ul>

</p>

<p>
  So is it just impossible to calculate software maintenance cost? I think the answer is that, it is impossible to give 100% accurate analytics, however,
  the advance of current technologies like <a href="https://www.rescuetime.com/">Rescue Time</a> enabled, or at least would enable in near future, to keep track of time usage in an acceptable accuracy.

  <a href="https://www.rescuetime.com/">Rescue Time</a> is a very interesting technology we want to introduce more in the next article.
</p>
