<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-seesaw.png">
</figure>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-diagram1.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-diagram2.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>


<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-diagram3.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>
