<h2>Software retirement, different from selling software</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-selling-retire.png">
  <figcaption>
    Image by <a href="http://www.freedigitalphotos.net/images/Construction_g265-Pull_Down_Constuction_p56850.html">Surachai</a> at FreeDigitalPhotos.net
  </figcaption>
</figure>
<p>
  There are cases you just retire your software product or system, without selling it (i.e. without giving the software to anyone else).
</p>

<p>
  Maybe you are getting rid of the business which is supported by the software. Or maybe you are bypassing a system component and retiring it.
</p>

<h2>Software replacement, which incurs replacement cost</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-selling-replace.png">
  <figcaption>
    Images by <a href="http://www.freedigitalphotos.net/images/abandoned-old-house-photo-p290063">Witthaya Phonsawat</a>
    and <a href="http://www.freedigitalphotos.net/images/exterior-shot-of-a-glass-building-photo-p258343">stockimages</a>
    at FreeDigitalPhotos.net
  </figcaption>
</figure>
<p>
  You might also replace a software product or system (component), to a newer one.
  Replacement is prevalent, since in the IT industry, there are always new Technologies, libraries, and frameworks.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-diagram3.png">
</figure>

<p>
  Even if you are not using new technologies, you maybe re-writing software in a more efficient way.
  Typically you do this expecting cost-saving effect over time. (<a href="http://localhost:3000/posts/arbitrage-and-replacement.html">Software Replacement as Risk Arbitrage</a>).
</p>

<p>
  Essentially, replacement of software is a combination of buying (investment into) the new software, and retirement of the old software.
</p>