<h2>Classification of buy & sell activities of software is important to understand market mechanism</h2>

<p>
  Sorry, I did mis-classification of software buy & sell...
  In previous articles, I wrongly classified buying and selling forms of software.
  <ul>
    <li><a href="http://localhost:3000/posts/arbitrage-software-buying.html">Pricing Software in Financial Arbitrage Context - Forms of buying software</a></li>
    <li><a href="http://localhost:3000/posts/arbitrage-software-selling.html">Pricing Software in Financial Arbitrage Context - Forms of selling software</a></li>
  </ul>
  They should have been simpler and more intuitive.
</p>

<p>
  Correct understanding of buy & sell forms is important to discuss about software market mechanism - competition, efficiency, and arbitrage opportunities.
  So, let's review them below, and in next few articles.
</p>

<h2>Buying a packaged software product</h2>

<p>
  The most intuitive form of buying a software product.
  You purchase a physical solid package (CD, DVD), or download the package.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-package.png">
</figure>

<ul>
  <li><strong>Buyer</strong>: who purchases software</li>
  <li><strong>Seller</strong>: Software vendor, Agency seller</li>
</ul>

<h2>Cloud subscription</h2>
<p>
  Recently, it is increasingly becoming more common to subscribe to cloud-based software products.
  The main difference between cloud subscription and package download is that the cloud-based software, software runs in the cloud, not on your PC.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-cloud.png">
  <figcaption>
    Images by <a href="http://www.freedigitalphotos.net/images/businessman-pushing-tactile-button-photo-p310733">stockimages</a>
    and <a href="http://www.freedigitalphotos.net/images/Teamwork_g404-Standing_People_p25253.html">renjith krishnan</a>
    at FreeDigitalPhotos.net
  </figcaption>
</figure>

<ul>
  <li><strong>Buyer</strong>: subscriber</li>
  <li><strong>Seller</strong>: cloud service provider</li>
</ul>

<h2>Open source software ... it is not actually sold though</h2>
<p>
  Open source software is not sold anywhere actually. As the name says, you can just use it for free.

  However, to understand the market mechanism of software, you can regard Open source software as a software product sold at <strong>zero price</strong>.

  <ul>
    <li><strong>Buyer</strong>: Open source software user</li>
    <li><strong>Seller</strong>: Open source software community</li>
  </ul>
</p>

<h2>Conclusion - again the classification is to correctly understand the market mechanism of software</h2>
<p>
  These probably looked pretty obvious, no need for discussion?
  Maybe, but correct classification of buy & sell is important to understand the market mechanism.
</p>

<p>
  With correct understanding of the software market mechanism, we can quantify the economic impact of software-related activities, and apply Financial Engineering theories for further analysis.
</p>

<p>
  Let's discuss those topics in future articles, but for now we continue on the forms of buy sell in the next few articles.
</p>