<p>
  Continued from the <a href="software-buy-sell">previous article</a>, let's look into other forms of buying and selling software.
  Here are long-term investment buy & sell forms.
</p>

<h2>In-house Software Development is a long-term investment</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-build.png">
</figure>
<p>For your business core purposes, it is common that you cannot find any software product or cloud service which "exactly" matches what you need.</p>
<p>It is typical for your business-core software, and you develop your business-core software within your company. Such a case is obviously a long term investment</p>
<ul>
  <li><strong>Buyer</strong>: company's business users</li>
  <li><strong>Seller</strong>: same company's developer team</li>
</ul>

<h2>Software Development is also possible by asking external software vendors</h2>
<p>
  Similar to the above self-development case, you can ask a software vendor, like Accenture,
  to build the software product/system for you.
</p>
<ul>
  <li><strong>Buyer</strong>: company</li>
  <li><strong>Seller</strong>: software vendor</li>
</ul>

<h2>M&A, although it is not buying software only but the business as a whole</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-m_and_a.png">
</figure>
<p>
  Another form of long-term investment is Merger and Acquisition, M&A.
</p>
<p>
  You don't do M&A to buy software, but to buy the business as a whole.
  However, as a result, you will get target company's software asset.
</p>
<ul>
  <li><strong>Buyer</strong>: external investor</li>
  <li><strong>Seller</strong>: existing share holders</li>
</ul>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-you-buy-everything.png">
  <figcaption>
    Image by <a href="http://www.freedigitalphotos.net/images/cloud-service-photo-p389883">zirconicusso</a> at FreeDigitalPhotos.net
  </figcaption>
</figure>



<h2>Long term investment, more uncertainty (i.e.) more risk</h2>
<p>
  As these forms are long term investment, there is more uncertainty involved (e.g.):
  <ul>
    <li>When the development finishes?</li>
    <li>Does the developed software satisfies your need, has good quality?</li>
    <li>M&A might fail - you fail to buy enough shares</li>
    <li>Acquired company's accounting fraud</li>
    <li>etc</li>
  </ul>
  In a Financial sense, <strong>uncertainty = risk</strong>. So you need to anticipate larger potential loss from such forms of long term investment.
</p>

<h2>Conclusion: Software buy & sell transactions come in different flavors</h2>
<p>
  Buying and selling software products can be different from buying and selling consumer goods like milk, apples, books etc.
  You don't usually ask farmers to provider milk for you, or an author to write a book for you.
</p>

<p>
  Only investors would do so - ask farmers and ask authors (for books, investor = publisher though) - but in the software industry, quite often we see investments are made.
</p>

<p>
  As it is an investment, investors need to be really aware of risks inherent these buy & sell transactions.
</p>