<h2>Software re-sell is prohibited or impossible</h2>
<p>
  Buying & selling software has a <strong>unique characteristics</strong>, where you <strong>cannot re-sell</strong> your software.
</p>

<p>
  This is mainly because:
  <ul>
    <li>Software is provided as a <strong>"license agreement"</strong>
        <ul>
          <li>(i.e.) software provider still has the (copy)rights of software</li>
        </ul>
    <li>Or no one wants your own custom software</li>
</p>

<h2>Buy & Sell forms and how Re-Sell is prohibited (M&A as exception)</h2>
<p>
  Let's look at how re-sell is prohibited or impossible in the following forms of software buy & sell transactions:

  <h3>Packaged Software</h3>
  <p>License agreement almost always prohibits re-sell to a 3rd party.</p>

  <h3>Cloud Subscription</h3>
  <p>Subscription license almost always prohibits transferring subscription to a 3rd party.</p>

  <h3>Open Source Software</h3>
  <p>Licenses usually prohibit selling it "at a price". Anyway no one will buy something already free.</p>

  <h3>In-House Software Development</h3>
  <p>No one else wants your own custom software.</p>

  <h3>Outsourced Software Development</h3>
  <p>Vendor contract might prohibit it, and anyway no one wants your own custom software.</p>

  <h3>M&A</h3>
  <p>This is exceptional - since you bought a company, rather than software, you can re-sell its shares.</p>
</p>

<h2>Conclusion: Impossible re-sell makes software's Microeconomics, risk management different</h2>
<p>
  Since re-sell of software is different, Microeconomics of software and its risk management is different from other products or Financial assets.
</p>

<p>
  I am going to cover Microeconomics and risk management of software, leveraging Financial Engineering frameworks to quantify it, in later articles.
</p>